.sidebar {
  /*  we must display 60:40 percent of sidebar and the chat component... */
  display: flex;
  flex-direction: column;

  /* takes 35% of screen */
  flex: 0.35;
}

.sidebar__header {
  display: flex;
  justify-content: space-between;
  padding: 22px;
  border-right: 1px solid lightgray;
}

.sidebar__headerRight {
  display: flex;
  justify-content: space-between;
  min-width: 10vw;
  align-items: center;
}

.sidebar__headerRight > .MuiSvgIcon-root {
  margin-right: 2vw;
  font-size: 24px !important;
}

.sidebar__search {
  display: flex;
  align-items: center;
  background-color: #ececec;
  height: 39px;
  padding: 10px;
}

.sidebar__searchContainer {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  height: 35px;
  width: 100%;
  border-radius: 20px;
}

.sidebar__searchContainer > input {
  border: none;
  outline-width: 0;
  margin-left: 10px;
}

/* .Mui - Material UI */
.sidebar__searchContainer > .MuiSvgIcon-root {
  color: gray;
  padding: 10px;
}

.sidebar__chats {
  flex: 1;
  background-color: rgb(255, 255, 255);
  overflow: scroll;
  /* border-radius: 25px; */
}
